* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 20px;
}

/* MENU */

.menu-container {
  background-color: #282828;
  padding: 10px 0 20px;
  display: flex;
  justify-content: center;
}

.menu {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.name {
    align-items: flex-end;
}

.name a {
  font-size: 1.5em;
  color: #D2D2D2;
  text-decoration: none;
}

.name a:hover {
  color: #F2F2F2;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.links a {
  color: #D2D2D2;
  text-decoration: none;
}

.links a:hover {
  color: #F2F2F2;
}

.cocktail-bar {
  margin-left: 30px;
}

/* BIO */

.bio-container {
  background-color: #E7E7E7;
  display: flex;
  justify-content: center;
}

.bio {
  width: 1000px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio-image img {
  width: 300px;
  display: flex;
  align-self: center;
}

.bio-image-klaas img {
  border-radius: 50%;
}

.bio-text {
  width: 600px;
  line-height: 2;
  text-align: justify;
}

.bio-text h2 {
  font-size: 1.5em;
}
