/* COCKTAILS */

.cocktail-container {
  background-color: #B2B09B;
}

.intro {
  display: block;
  margin: 20px 0 20px;
  line-height: 2;
}

.cocktail {
  display: flex;
  flex-direction: column;
}

.cocktail h2 {
  margin-bottom: 20px;
}

.cocktail img {
  height: 250px;
}

.cocktail audio {
  margin-bottom: 20px;
}

.cocktail ul {
  margin-bottom: 20px;
}

.cocktail li {
  list-style-type: none;
  padding-bottom: 20px;
}
