/* BIO */

.bio-container {
  background-color: #B2B09B;
}

.bio {
  padding: 50px 0 50px;
  align-items: flex-start;
}

.bio-welcome {
  padding-top: 50px;
}

.bio-developer {
  padding-bottom: 100px
}

.bio-image img {
  height: 300px;
}

.bio-image-klaas img {
  border-radius: 50%;
}

.bio-text {
  width: 600px;
  line-height: 2;
  text-align: justify;
}

.bio-text h2 {
  font-size: 1.5em;
  line-height: 1;
  padding-bottom: 15px;
}

.bio-developer h2 {
  line-height: 0.5;
  padding-bottom: 20px;
}
